<html ng-app="barApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css"/>
  </head>
  <body ng-controller="mainCtrl">
    <div databar element-one-count="elementOneCount" element-one-class="'green'" element-two-count="elementTwoCount" element-two-class="'red'" last-element-count="lastElementCount"></div>
    <div ng-click="changeData()">change first and two element count</div>
    <div ng-click="changeLastCount()">change last element count</div>
  </body>
</html>
